.header {
  box-shadow: 0px 5px 5px 0px rgba(212,204,212,1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2px;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.pageTitle {
  font-size: 3rem;
  text-align: center;
  color: var(--primary-color);
    
}

/* .active {
  color: rgb(112, 12, 226); 
  font-weight: bold;
  position: relative;
} */

.desktopNav {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
  color: var(--primary-color);
  font-weight: bold;
    
}

.desktopNav
.active::after {
  content: "";
  position: absolute;
  bottom: -1px; 
  width: 80%; 
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--primary-color);
} 

.mobileMenuButton {
  display: none;
}
  
.desktopNav div:hover {
  color: #506841;
}
  
.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  padding: 2rem;
  align-items: center;
  background-color: var(--primary-color);
  animation: fadeIn 0.5s ease-in-out forwards;
}
  
.mobileMenu :hover {
  color: var(--hover-color);
  text-decoration: underline;
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
/* RESPONSIVE STYLES */
@media screen and (max-width: 768px) {
  .pageTitle {
    font-size: 2rem;
  }

  .mobileMenuButton {
    display: block;
    cursor: pointer;
    font-size: 2rem;
  }

  .desktopNav {
    display: none;
  }

  .mobileMenu.active {
    display: flex;
  }

  .mobileMenuButton {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 101; 
  }
}

/* @media screen and  (max-width: 328px) {
  .header {
    flex-direction: column; 
    align-items: center; 
    padding: 5px 0; 
  }
  .pageTitle {
    font-size: 1rem;
  }
  .desktopNav {
    flex-direction: column; 
    gap: 1rem;
    align-items: center;
    margin-right: 0; 
  }

  .mobileMenuButton {
    font-size: 1.8rem; 
  }

  .desktopNav div,
  .mobileMenu div {
    font-size: 1.4rem; 
    padding: 0.8rem 0; 
  }
}
 */
