.iconsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  padding: 10px;
  
}

.iconContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; 
  left:0;
}

.iconsearch,
.iconmapline {
  color: var(--primary-color);
  
}

.iconText {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .iconWrapper {
    gap: 3px;
    padding: 10px 10px;
      
  }

  .iconText {
    font-size: 0.875rem;
  }
}
  