@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

:root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  --primary-color: rgb(30, 74, 48);
  --secondary-color: black;
  --text-color: black;
  --accent-color: white;
  --hover-color: red;
  
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}